%serif-text {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    @extend %serif-text;
    color: white;
    font-size: 2rem;
}

p {
    @extend %serif-text;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        padding: 10px;

        a {
            @extend %serif-text;
            color: white;
        }
    }
}

$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}